aside .item {
  display: flex;
  gap: 2px;
  align-items: center;
  margin-bottom: 10px;
  cursor: grab;
  padding: 5px;
}
aside .item:hover,
aside .item:active {
  background-color: #ffffff86;
}

aside .item .title {
  flex: 1;
}

.item .title {
  display: flex;
  gap: 5px;
}

/* main */
section main {
  background-color: #ffffff;
  background-image: radial-gradient(circle, #e5e5e5 2px, transparent 4px);
  background-size: 20px 20px;
  border-top: 3px solid #e5e5e5;
  position: relative;
}

section main .item {
  width: 100%;
  border: 1px solid #e3e3e3;
  background-color: white;
  box-shadow: 0px 10px 15px #c7c4c4;
}

section main .item header {
  border-bottom: 1px solid #e3e3e3;
  background-color: #d9ecfd;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
section main .item .p-1 {
  padding: 15px;
}

section main .item .p-1 input {
  max-width: 80px;
}
section main .item .fs {
  font-size: 25px;
}
section main .arrow {
  border-left: 2px dashed #313983;
  border-bottom: 2px dashed #313983;
  border-bottom-left-radius: 10px;
  position: absolute;
}

.react-flow__handle {
  width: 22px;
  height: 22px;
}

.react-flow__node-default {
  padding: 0 !important;
}
